{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multipage Form with Image</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href={% static "css/registration.css" static %}>
  
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href={%url "index" %}>InterestSave</a>
    </div>
  </nav>

  <!-- Main content -->
  <div class="container mt-2">
    <div class="row body">
      <!-- Left Section with Image -->
      <div class="col-lg-5 left-section">
        <img src={% static "images/groupstudents.png"  %} alt="Image">
        <h2 class="mt-4">What we Do</h2>
        <p class="side">A small attempt to get cheaper student loans ended up saving each participant an average of $13K+. Since then we’ve become the #1 choice for MBA students to get their student loans. <br><br>

          With 25% to 50% of the Class of 2024 participating at each of the top 25 MBA Programs, we’ve helped MBA students with over $700M of student loans.</p>
      </div>


      <!-- Form -->
      <div class="col-lg-7 mb-4 form">
        <div class="form-container">
          <form id="multipage-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <!-- Step 1 -->
            <div class="form-step active" id="page1">
               {% comment %} <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                 <input type="text" class="form-control input" id="name" name="name" required>
              </div>  {% endcomment %}
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                {% comment %} <input type="email" class="form-control input" id="email" name="email" required> {% endcomment %}
                {{form.email}}
              </div>
              <div class="mb-3">
                <label for="number" class="form-label">Phone No</label>
                {% comment %} <input type="number" class="form-control input" id="Phone-no" name="phone-no" required> {% endcomment %}
                {{form.phone_no}}
              </div>

              <div class="mb-3">
                <label for="state" class="my-4 fs-5">State:</label>
                {{form.state}}
    {% comment %} <select id="state" name="state" required>
        <option value="" disabled selected>Select your state</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West Bengal">West Bengal</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Delhi">Delhi</option>
        <option value="Puducherry">Puducherry</option>
      </select> {% endcomment %}
              </div>

              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                {{form.city}}
                {% comment %} <input type="text" class="form-control input" id="city" name="city" required> {% endcomment %}
              </div>
              <div class="mb-3">
                <label class="form-label">You are currently?</label>
                {{form.currently_working}}
                {% comment %} <div class="form-check">
                  <input class="form-check-input" type="radio" name="favorite-subject" id="subject1" value="math">
                  <label class="form-check-label" for="subject1">A student</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="favorite-subject" id="subject2" value="science">
                  <label class="form-check-label" for="subject2">A working employee</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="favorite-subject" id="subject3" value="history">
                  <label class="form-check-label" for="subject3">On break</label>
                </div> {% endcomment %}
              </div>
              <div class="form-buttons">
                <button type="button" class="btn button next-page">Next</button>
              </div>
            </div>

            <!-- Step 2 -->
            <div class="form-step" id="page2">
              <div class="mb-3">
                <label for="exam-preparation" class="form-label">Have you appeared for CAT 2023?</label>
                {% comment %} <select class="form-control" id="exam-preparation" name="exam-preparation" required>
                  <option value="">Select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select> {% endcomment %}
                {{form.cat_choices}}
              </div>
              <div class="mb-3">
                <label for="occupation" class="form-label">Class 10th Score (in percentage)</label>
                {% comment %} <input type="number" class="form-control input" id="occupation" name="occupation" required> {% endcomment %}
                {{form.class_10th_score}}
              </div>
              <div class="mb-3">
                <label for="city" class="form-label">Class 12th Score (in percentage)</label>
                {% comment %} <input type="number" class="form-control input" id="city" name="city" required> {% endcomment %}
               {{form.class_12th_score}}
              </div>
              <div class="mb-3">
                <label for="state" class="form-label">Graduation Score (in percentage)</label>
                {% comment %} <input type="number" class="form-control input" id="state" name="state" required> {% endcomment %}
                {{form.graduation_score}}
              </div>
              <div class="mb-3">
                <label for="cat-score" class="form-label">CAT Score (in percentile)</label>
                {% comment %} <input type="number" class="form-control input" id="cat-score" name="cat-score" required> {% endcomment %}
              {{form.cat_score}}
              </div>

              <div class="mb-3">
                <label for="exam-preparation" class="form-label">Have you received your offer letter from the Institute?</label>
                {{form.offer_letter_qs}}
                {% comment %} <select class="form-control" id="exam-preparation" name="exam-preparation">
                  <option value="">Select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="no">Not yet</option>
                </select> {% endcomment %}
              </div>
  
              <label for="file">Upload your Offer Letter:</label><br>
              {{form.offer_letter}}
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx" > {% endcomment %}
              <br><br>
             

              <label for="file">Upload your Aadhar Card:</label><br>
              {{form.aadhar_card}}
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx" >{% endcomment %}
              <br><br> 

              <label for="file">Upload your PAN:</label> <br>
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx" >  {% endcomment %}
              {{form.pan_card}}
              <br><br>

              <label for="file">Permanent Address Proof (electricity bill, voter ID, etc.)</label> <br>
              {{form.address_proof}}
              <br><br>
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx" >
              <br><br> {% endcomment %}
              
              <div class="form-buttons">
                <button type="button" class="btn button prev-page">Previous</button>
                <button type="button" class="btn button next-page">Next</button>
              </div>
            </div>

            <!-- Step 3 -->
            <div class="form-step form" id="page3">
              <div class="mb-3">
                <label for="exam-preparation" class="form-label">Select a Co-signer</label>
                {{form.co_signer}}
                {% comment %} <select class="form-control" id="exam-preparation" name="exam-preparation">
                  <option value="">Select</option>
                  <option value="yes">Father</option>
                  <option value="no">Mother</option>
                  <option value="no">Guardian</option>
                </select> {% endcomment %}

              <label for="file" class="mt-4">Upload your Co-signerAadhar Card:</label><br>
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx"> {% endcomment %}
              {{form.cosigner_aadhar}}
              <br><br>

              <label for="file">Upload your Co-signer PAN:</label> <br>
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx" > {% endcomment %}
              {{form.cosigner_pan}}
              <br><br>

              <label for="file">Permanent Address Proof (electricity bill, voter ID, etc.)</label> <br>
              {% comment %} <input type="file" id="file" name="file" accept=".pdf, .doc, .docx" > {% endcomment %}
              {{form.cosigner_address}}
              <br><br>

              </div>
              <div class="form-buttons">
                <button type="button" class="btn button prev-page">Previous</button>
                <button type="submit" class="btn button" onclick="openPopUp()">Submit</button>
              </div>

              <div class="popUp" id="modal">
                <img src={% static "images/bidding.jpg" %} class="mb-4">
                <h2>Hurrayyyyy !!!</h2>
                <p class="mt-4">You are now an I-Saver.<br>
                  </p> 
                
                <a href="dashboardApplied.html"><button type="button" class="btn button">Go to dashboard</button>
                </a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

 
   







  <!-- Bootstrap JS and jQuery (required for Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src={% static "js/registration.js"   %}></script>

</body>

</html>
